body {
    background-color: lightgray;
    padding: 20px;
}

.header {
    width: 1000px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.lives-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lives-counter {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.life {
    background-color: rgb(255, 89, 89);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.unavailable {
    display: none;
}

.board{
    display: block;
    width: 1000px;
    height: 500px;
    background-color: lightpink;
    position: relative;
}

.player {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    left:0;
    right:0;
}

.obstacle {
    background-color: rgb(76, 112, 124);
    position: absolute;
}

.game-over{
    z-index: 2;
    position: absolute;
    top: 0; left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100vw;
    height: 100vh;
}

.game-over h1{
    color: red;
    font-size: 60px;
}

.game-over button {
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    border: none;
    padding: 10px;
    font-weight: 600;

}

