body {
    background-color: lightgray;
    padding: 20px;
}
.board{
    width: 1000px;
    height: 500px;
    background-color: lightpink;
    position: relative;
}

.player {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    left:0;
    right:0;
}

.obstacle {
    background-color: rgb(76, 112, 124);
    position: absolute;
    height: 300px;
    width: 20px;
}
/* 
.obst-1{
    top: 0;
    left: 100px;
}

.obst-2{
    bottom: 0;
    left: 250px;
    height: 400px;
}

.obst-3{
    top: 0;
    left: 400px;
    height: 450px;
}

.obst-4{
    bottom: 0;
    left: 550px;
}

.obst-5{
    top: 0;
    left: 600px;
}

.obst-6{
    bottom: 0;
    left: 700px;
}

.obst-7{
    top: 0;
    left: 750px;
}

.obst-8{
    bottom: 0;
    left: 850px;
} */


